* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  :root {
    font-family: "Roboto", sans-serif;
    --color: rgb(17, 25, 64);
    --color2: rgb(37, 72, 103);
  }
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80vh;
    /* color: rgb(255, 255, 255); */
   
    /* background-image: linear-gradient(
      330deg,
      var(--color) 10%,
      var(--color2) 80%
    ); */
    background-image: url('bg.jpg');
    background-repeat: no-repeat;
    background-size: 2000px 800px;
    
    font-size: 20px;
  }
  
  label {
    font-size: 80px;
    letter-spacing: 2px;
    font-weight: bold;
    color: rgb(7, 7, 30);
  }
  input {
    margin: 50px 0 10px;
    padding: 7px;
    font-size: 20px;
  }
  .result {
    margin: 10px 0 50px;
    font-size: 26px;
    color: rgb(0, 0, 0);
    letter-spacing: 1px;
    height: 1em;
    font-weight: bold;
  }
  
  button {
    width: 200px;
    margin: 0 30px;
    padding: 10px 30px;
    background-color: rgb(10, 10, 36);
    border: 2px solid var(--color);
    border-radius: 5px;
    color: rgb(65, 129, 179);
    font-size: 25px;
    transition: color 0.3s, box-shadow 0.3s;
    box-shadow: 3px 3px 10px var(--color);
    text-transform: uppercase;
    cursor: pointer;
  }
  button:hover {
    color: white;
    box-shadow: 3px 3px 10px var(--color2);
  }
  
  /* ------> Media queries <------ */
  @media screen and (max-width: 500px){ /*Smartphones*/
    label{
      font-size: 35px;
    }
  }
  @media screen and (max-width: 1000px) {/*Bigger screens*/
    button {
      display: flex;
      margin-bottom: 20px;
      justify-content: center;
    }
  }